.menu {
	font-family: $OpenSans;
	text-align: center;
	padding: 60px 0 100px;

	&__title {
	}

	&__large {
		max-width: 566px;
		margin: 0 auto 50px;
	}

	&__nav {
		margin-bottom: 50px;
	}

	&__list {
		display: flex;
		justify-content: center;
		& li {
			flex: 0 1 120px;
			height: 50px;
			border-right: 1px solid rgba(51, 51, 51, 0.2);
			&:last-child {
				border: none;
			}
		}
	}

	&__link {
		font-weight: bold;
		font-size: 12px;
		line-height: 18px;
		color: #333333;
		line-height: 50px;
		&:hover {
			color: $Yellow;
		}
	}

	&__row {
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
	}

	&__col {
		flex: 0 0 363px;
		margin-right: 40px;
		padding-bottom: 25px;
		text-align: left;
		@media (max-width: 768px) {
			margin-right: 0;
			flex-shrink: 1;
		}
	}

	&__dish {
		font-family: $Banny;
		font-size: 18px;
		line-height: 18px;
		color: #333333;
	}

	&__description {
		font-size: 12px;
		line-height: 16px;
		color: #9e9c9cb7;
	}
}
.section {
	&__title {
	}

	&__large {
	}
}
